.position {
    width: 100%;
    margin-bottom: 65px;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    margin-top: 20px;
    background: url(../../assets/images/bg.jpg) no-repeat scroll center center/100% 100%;
}

.position span {
    margin-left: 10px;
}