.appcontainer{
    width: 1440px;
    max-width: 1440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
}

ul li {
    padding: 0px 10px;
}
.top {
    width: 100%;
    height: 30px;
    background: #222c42;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}

.top b {
    float: right;
}
.online_tel h2 a {
    color: red;
    text-decoration: none;
}

.online_tel p {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #999;
    margin: 0px;
}

.active_module {
    color: rgb(7, 95, 184);
    /* background-color: dodgerblue; */
}

.nav-item {
    width: 120px;
}
.nav-item {
    flex-direction: row;
}
.fright{
    white-space: nowrap;
    float:right;
    width: 200px
}

ul li p a {
    color: #fff!important;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    width: 110px;
    float: left;
    word-break:keep-all;             /* 不换行 */
white-space:nowrap; 
    
}

ul li p {
    background-color: #1d5e9a;
    display: none;
    position: absolute;
    top: 40px;
    z-index: 15;
    margin-left: -17px;
    padding: 10px 0px;
    margin-top: 5px;
}
ul li a:hover {
    color: #1c68ae;
}
ul li p a:hover {
    background-color: #2877c1;
}
a {
    text-decoration: none;
}

ul li {
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-right: 35px;
    text-align: center;
    position: relative;
}
.nav_dropdown p {
    display: none;
}

.nav_dropdown:hover p {
    display: block;
}

.nav_nav {
	width: 220px;
}
