<div class="footer">
    <div class="appcontainer">
        <div class="footer_bg">
            <div class="footer_tel fleft"><img src="http://www.risde.com/statics/risde/images/5_03.jpg"></div>
            <div class="footer_list fleft">
                <h3>关于瑞仕登</h3>
                <ul>
                    <li><a href="/list_45.html" target="_blank">服务流程</a></li>
                    <li><a href="/list_47.html" target="_blank">客服中心</a></li>
                    <li><a href="/list_49.html" target="_blank">成功案例</a></li>
                    <li><a href="/list_2.html" target="_blank">关于我们</a></li>
                    <li><a href="/list_21.html" target="_blank">网站地图</a></li>
                </ul>
            </div>
            <div class="footer_list fleft">
                <h3>在线服务</h3>
                <ul>
                    <li><a href="">企业下单</a></li>
                    <li><a href="">免费咨询</a></li>
                </ul>
            </div>
            <div class="footer_list fleft">
                <h3>成功案例</h3>
                <ul>
                    <li><a href="/list_91.html" target="_blank">制药/生物/器械</a></li>
                    <li><a href="/list_92.html" target="_blank">地产/建筑/装潢</a></li>
                    <li><a href="/list_93.html" target="_blank">制造/汽车/重工</a></li>
                    <li><a href="/list_94.html" target="_blank">互联网/IT</a></li>

                    <li><a href="/list_96.html" target="_blank">快消/百货/餐饮</a></li>
                    <li><a href="/list_97.html" target="_blank">教育/培训</a></li>
                </ul>
            </div>
            <div class="footer_list list fleft">
                <h3>服务城市</h3>
                <ul>
                    <li><span><a href="/nj/" target="_blank">南京</a></span><span><a href="/bj/" target="_blank">北京</a></span></li>
                    <li><span><a href="/sh/" target="_blank">上海</a></span><span><span><a href="/gz/" target="_blank">广州</a></span></span></li>
                    <li><span><a href="/sz/" target="_blank">深圳</a></span><span><span><a href="/tj/" target="_blank">天津</a></span></span></li>
                    <li><span><a href="/zj/" target="_blank">浙江</a></span><span><span><a href="/sd/" target="_blank">山东</a></span></span></li>
                    <li><span><a href="/hn/" target="_blank">河南</a></span><span><span><a href="/hb/" target="_blank">河北</a></span></span></li>
                </ul>
            </div>
            <div class="erweima fleft">
                <div class="focus fleft">
                    <h3>掌握更多职场资讯请关注</h3>
                    <img src="http://www.risde.com/statics/risde/images/5_06.jpg"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
