.cooper {
  font-size: 24px;
  padding-top: 50px;
}
.cooper span, .service span {
  font-size: 18px;
  color: #999;
  margin-left: 15px;
}

.cooper_list {
  width: 100%;
		display: block;
		position: relative;
}
ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
		
.cooper_list ul {
  width: 100%;
}

ul, ol, li {
  list-style-type: none;
}

.acount {
  font-size: 36px;
  color: #e24a4e;
  text-align: center;
  margin-top: -5px;
}

.title {
  color: #666;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cooper {
	font-size: 24px;
	padding-top: 50px;
	clear: both;
}
.service {
	font-size: 24px;
	padding-top: 35px;
}
.cooper span, .service span {
	font-size: 18px;
	color: #999;
	margin-left: 15px;
}

.cooper_list ul li {
	float: left;
	width: 237px;
	height: 212px;
	background: #fff;
	margin: 10px 5px 0px 0px;
}

.pic {
	width: 99px;
	height: 69px;
	display: block;
	margin: 35px 68px 0px;
}
.acount {
	font-size: 36px;
	color: #e24a4e;
	text-align: center;
	margin-top: -5px;
}
.title {
	color: #666;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
div {
	display: block;
}
