<app-carousel></app-carousel>
<div class="appcontainer">
    <div class="cooper">服务优势<span>始终把专业服务作为第一要素</span></div>
    <div class="cooper_list">
        <ul>
            <li><img src="http://www.risde.com/statics/risde/images/index_23.jpg" class="pic">
                <p class="acount">7天</p>
                <p class="title">最快上岗周期</p>
            </li>
            <li><img src="http://www.risde.com/statics/risde/images/index_25.jpg" class="pic">
                <p class="acount">20000+</p>
                <p class="title">国内外知名合作企业</p>
            </li>
            <li><img src="http://www.risde.com/statics/risde/images/index_19.jpg" class="pic">
                <p class="acount">800,0000</p>
                <p class="title">中高端人才库</p>
            </li>
            <li><img src="http://www.risde.com/statics/risde/images/index_28.jpg" class="pic">
                <p class="acount">25000+</p>
                <p class="title">中高端职位</p>
            </li>
            <li><img src="http://www.risde.com/statics/risde/images/index_21.jpg" class="pic">
                <p class="acount">97.65%</p>
                <p class="title">招聘成功率</p>
            </li>
        </ul>
    </div>
    <div class="cooper">行业分类<span>始终把专业服务作为第一要素</span></div>
    <div class="service">合作名企<span>始终把专业服务作为第一要素</span></div>
    <div class="cooper">核心城市<span>始终把专业服务作为第一要素</span></div>
    <div class="cooper">服务流程<span>始终把专业服务作为第一要素</span><a href="/list-45-1.html" class="more fright" target="_blank">了解详情</a></div>
    <div class="cooper">瑞仕登动态<span>始终把专业服务作为第一要素</span></div>
</div>